name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          #  - repo
          # The following additional scopes may be required:
          #  - read:org  (for organization related metrics)
          #  - read:user (for user related data)
          #  - repo      (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS }}

          # Options
          user: azh412
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: America/Chicago
          plugin_achievements: yes
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          plugin_habits: yes
          plugin_notable: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_details: bytes-size, percentage, lines
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_stars: yes
          plugin_stars_limit: 3
          plugin_music: no
          plugin_music_limit: 4
          plugin_music_mode: top
          plugin_music_provider: spotify
          plugin_music_time_range: short
          plugin_music_top_type: tracks
          plugin_music_user: azh412
          plugin_music_token: "372ef1cb30934fd78c8b798ec95e8c53, 9d705e165f654a5691e6a5b69e3e6da5, AQAhmZitjmn3JMlAWkhfcDz_0H8iQIESM1FI-BmRvwkwnlMb2DCA6ZdtI5U7QyUs4F1tYCw3mFxyulUBRkQwNWvmxhPpkhK59Jzii9CGN6aAeRuemf3x1IKznPqlrwt3M88"
          plugin_repositories: 100
          plugin_repositories_affiliations: owner
          plugin_repositories_featured: casual-healthcare/braindiagnose, azh412/eloquent, azh412/CircleGame, azh412/azhstonks, azh412/Pathfinder, azh412/AutoClips, azh412/VirtualPianoBot
          plugin_repositories_batch: 100
          plugin_traffic: yes
